<div class="mt-5">
  <div class="container">
    <div>
      <div>
        <h4>Registrarse</h4>
        <hr>
      </div>
      <div class="pt-4">
        <div [formGroup]="form" class="pb-5">

          <div class="w-full">
            <div class="flex flex-wrap">

              <div class="w-full md:w-1/2 p-1">
                <mat-form-field class="w-full">
                  <mat-label>Identificación</mat-label>
                  <input matInput formControlName="identificacion" type="text" maxlength="200">
                  <mat-error *ngIf="frmValidationUtils?.hasErrors('identificacion')"
                    [innerHtml]="frmValidationUtils.getErrorMessages('username', 'Identificación')"></mat-error>
                </mat-form-field>
              </div>

              <div class="w-full md:w-1/2 p-1">
                <mat-form-field class="w-full">
                  <mat-label>Nombres</mat-label>
                  <input matInput formControlName="nombres" type="text" maxlength="200">
                  <mat-error *ngIf="frmValidationUtils?.hasErrors('nombres')"
                    [innerHtml]="frmValidationUtils.getErrorMessages('username', 'Nombres')"></mat-error>
                </mat-form-field>
              </div>

              <div class="w-full md:w-1/2 p-1">
                <mat-form-field class="w-full">
                  <mat-label>Apellidos</mat-label>
                  <input matInput formControlName="apellidos" type="text" maxlength="200">
                  <mat-error *ngIf="frmValidationUtils?.hasErrors('apellidos')"
                    [innerHtml]="frmValidationUtils.getErrorMessages('username', 'Apellidos')"></mat-error>
                </mat-form-field>
              </div>

              <div class="w-full md:w-1/2 p-1">
                <mat-form-field class="w-full">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" type="email" maxlength="200">
                  <mat-error *ngIf="frmValidationUtils?.hasErrors('email')"
                    [innerHtml]="frmValidationUtils.getErrorMessages('username', 'Email')"></mat-error>
                </mat-form-field>
              </div>

              <div class="w-full md:w-1/2 p-1">
                <mat-form-field class="w-full">
                  <mat-label>Dirección</mat-label>
                  <input matInput formControlName="direccion" type="text" maxlength="200">
                  <mat-error *ngIf="frmValidationUtils?.hasErrors('direccion')"
                    [innerHtml]="frmValidationUtils.getErrorMessages('username', 'Dirección')"></mat-error>
                </mat-form-field>
              </div>

              <div class="w-full md:w-1/2 p-1">
                <mat-form-field class="w-full">
                  <mat-label>Teléfono</mat-label>
                  <input matInput formControlName="telefono" type="text" maxlength="200">
                  <mat-error *ngIf="frmValidationUtils?.hasErrors('telefono')"
                    [innerHtml]="frmValidationUtils.getErrorMessages('username', 'Teléfono')"></mat-error>
                </mat-form-field>
              </div>

              <div class="w-full md:w-1/2 p-1">
                <mat-form-field class="w-full">
                  <mat-label>Nombre de usuario</mat-label>
                  <input matInput formControlName="username" type="text" maxlength="200">
                  <mat-error *ngIf="frmValidationUtils?.hasErrors('username')"
                    [innerHtml]="frmValidationUtils.getErrorMessages('username', 'Nombre de usuario')"></mat-error>
                </mat-form-field>
              </div>

              <div class="w-full md:w-1/2 p-1">
                <mat-form-field class="w-full">
                  <mat-label>Contraseña</mat-label>
                  <input matInput formControlName="password" type="password" maxlength="200">
                  <mat-error *ngIf="frmValidationUtils?.hasErrors('password')"
                    [innerHtml]="frmValidationUtils.getErrorMessages('password', 'Contraseña')"></mat-error>
                </mat-form-field>
              </div>

            </div>

            <div class="pt-5 pl-1">
              <div class="flex gap-2">
                <button mat-flat-button class="!bg-minjus_primary !text-white !text-lg"
                  (click)="onGuardarUsuario()">{{veterinario.id? 'Actualizar': 'Registrar'}}</button>
                <button mat-flat-button class="!bg-minjus_danger !text-white !text-lg"
                  (click)="onCancelar()">Tengo una cuenta</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>
</div>
