<div class="container">
  <div>
    <div>
      <h4>Mis Citas</h4>
      <hr>
    </div>

    <div class="pt-5">
      <table mat-table [dataSource]="data" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="nro">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="fecharegistro">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let element"> {{ convertToLocalDate(element.fechaRegistro) | date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="veterinario">
          <th mat-header-cell *matHeaderCellDef> Veterinario </th>
          <td mat-cell *matCellDef="let element"> {{element.veterinario?.nombres}} {{element.veterinario?.apellidos}} </td>
        </ng-container>

        <ng-container matColumnDef="mascota">
          <th mat-header-cell *matHeaderCellDef> Mascota </th>
          <td mat-cell *matCellDef="let element"> {{element.mascota?.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="horario">
          <th mat-header-cell *matHeaderCellDef> Horario </th>
          <td mat-cell *matCellDef="let element"> {{element.horario?.programacion?.horaInicio}} - {{element.horario?.programacion?.horaFin}} </td>
        </ng-container>

        <ng-container matColumnDef="cancelado">
          <th mat-header-cell *matHeaderCellDef> Cancelado </th>
          <td mat-cell *matCellDef="let element"> {{element.cancelado == 1? 'CANCELADO': 'No'}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef class="!text-center"> Acciones </th>
          <td mat-cell *matCellDef="let element" class="!text-center">
            <div class="flex justify-center" *ngIf="compareDate(element.fechaRegistro) && element.cancelado != 1">
              <button mat-icon-button matTooltip="Cancelar" aria-label="Cancelar" class="!text-minjus_danger" (click)="onCancelar(element)">
                <mat-icon>event_busy</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>


</div>
