<mat-sidenav-container class="flex h-screen !bg-gray-50">

  <mat-sidenav-content>
    <div class="flex flex-col min-h-screen">

      <div class="flex-grow">
        <div class="responsive-content flex justify-between items-center bg-minjus_red !text-minjus_red p-7">
          <div class="text-xs">SISTEMA DE CITAS MÉDICAS VETERINARIAS</div>
        </div>

        <div class="p-2 md:m-4">
          <mat-card>
            <mat-card-header>
              <div class="w-full">
                <div class="flex justify-center">
                  <mat-card-title class="texto-titulo text-center">SISTEMA DE CITAS MÉDICAS
                    VETERINARIAS</mat-card-title>
                </div>
              </div>
            </mat-card-header>

            <mat-card-content>

              <router-outlet></router-outlet>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <!-- Footer -->
      <div class="mt-auto hidden">
        <div class="bg-minjus_dark text-white p-2">
          <div class="flex flex-wrap justify-between items-center">
            <div class="p-0">MINJUSDH 2024 © Todos los derechos reservador<br>Sistema elaborado por MINJUS</div>
            <div class="p-0">Correo: consultas&#64;gmail.com.pe - Teléfono: 01 315 2X00</div>
          </div>
        </div>
      </div>

    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
